name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    name: CI / test
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run CI using local Python
        shell: cmd
        run: |
          set PYTHON=C:\Users\UsEr\AppData\Local\Programs\Python\Python313\python.exe

          %PYTHON% --version

          rem Create a clean virtual environment every run
          if exist .venv rmdir /s /q .venv
          %PYTHON% -m venv .venv
          call .venv\Scripts\activate.bat

          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt -r requirements-dev.txt

          python -m pre_commit run --all-files
          python -m mypy loocv_lrocv
          python -m bandit -r loocv_lrocv -q

          rem Audit ONLY your project dependencies (not random installed stuff)
          python -m pip_audit -r requirements.txt

          set PYTHONPATH=%CD%
          python -m pytest -q --cov=loocv_lrocv --cov-report=term-missing
