name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Use local Python
        shell: cmd
        run: |
          set PYTHON=C:\Users\UsEr\AppData\Local\Programs\Python\Python313\python.exe
          %PYTHON% --version
          %PYTHON% -m pip install --upgrade pip
          %PYTHON% -m pip install pytest
          %PYTHON% -m pytest -q
